extends template-with-header

mixin recipe-section(food_type, idx, user)
    if food_type
        section.slider.slider-menu.d-flex.align-items-center(id='slider-'+food_type.name)
            .container
                .row.justify-content-center
                    - var size = idx === 0 ? '3' : '1'
                    .col-md-12(class='filler-'+size)
                    .col-md-6
                        .styled-heading
                            h3=food_type.name
                - var food_list = food_type.list;
                if food_list && food_list.length > 0
                    - var index = 0
                    while index < food_list.length
                        .row
                            each i in [0, 1, 2, 3]
                                if index + i < food_list.length
                                    - var elem = food_list[index + i]
                                    .col-md-3.featured-responsive
                                        .featured-place-wrap
                                            img.img-fluid(src=elem.img, alt='#')
                                            if elem.rating > 9.0
                                                span.featured-rating-s #{elem.rating}
                                            else if elem.rating > 8.0
                                                span.featured-rating-a #{elem.rating}
                                            else if elem.rating > 7.0
                                                span.featured-rating-b #{elem.rating}
                                            else
                                                span.featured-rating-c #{elem.rating}
                                            .featured-title-box
                                                h6=elem.name
                                                p='Price: $' + elem.price
                                                ul
                                                    p Recipe:
                                                    each val, j in elem.recipe
                                                        li
                                                            p= j+1 + '. ' + val
                                                .add-btn-wrap(id=elem.id)
                                                    p.btn.btn-danger.add-dish-btn ADD
                                else
                                    break
                        - index += 4
        // - var id_name = 'slider-' + food_type.name;
        // - var img_url = 'url(' + food_type.img_url + ')'
        //script.
            // document.getElementById("#{id_name}").style.backgroundImage = "#{img_url}";


block content
    - var idx = 0;
    - var userInfo = user;
    each food_type in recipe
        + recipe-section(food_type, idx, userInfo)
        - idx++;

    .col-lg-4.col-sm-6.col-xs-12.cart-container
        .cart-basket#cart-basket
            .dish-list#dish-list
        .basket-info#basket-info
            .basket-dishes
                span.icon-basket-loaded
                span.badge 0
            span.price-label Total Price:
            span.total-price 0
            button.btn.btn-success#submit-meal-btn Submit


block scripts
    script(type='text/javascript', src='/js/socket.io.js')
    script(type='text/javascript', src='/js/meal.js')
